.maxiFilter {
    display: block;
}
.miniFilter {
    display: none;
}
/*
@media screen and (max-width: 768px) {
    .miniFilter {
        display: block;
    }
    .maxiFilter {
        display: none;
    }
  } */