<!--<div class="campaignMainDiv" *ngIf="count != 0">
<div id="campaignCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner" style="border-radius: 10px;">
      <div *ngFor="let slider of sliders"class="carousel-item {{setClass(slider.id)}}">
        <img routerLink="/pizzadetail/{{slider.pizzaId}}" style="max-height: 300px;" src="{{slider.imageUrl}}" class="d-block w-100" alt="...">
        <div class="carousel-caption captionStyle">
            <h5>{{slider.title}}</h5>
            <p>{{slider.description}}</p>
          </div>
       </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#campaignCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Önceki</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#campaignCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Sonraki</span>
    </button>
  </div>
</div>
<br> -->
<div class="campaignMainDiv" *ngIf="count != 0">
  <!--<h3>Kampanyalar</h3>-->
  <div id="campaignCarouselMobile" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner" style="border-radius: 10px; border:1px solid black; background-color: black;">
        <div *ngFor="let slider of sliders"class="carousel-item {{setClass(slider.id)}}">
          <img routerLink="/pizzadetail/{{slider.pizzaId}}" style="max-height: 250px;" src="{{slider.imageUrl}}" class="d-block w-100" alt="...">
          <div class="captionStyleMobile" style="text-align: center;">
            <h5 style="color:white;">{{slider.title}}</h5>
              <p style="color:white;">{{slider.description}}</p>
            </div>
         </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#campaignCarouselMobile" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Önceki</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#campaignCarouselMobile" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Sonraki</span>
      </button>
    </div>
  </div>