
<!--<button (click)="hideCompletedPizzas()" class="btn btn-sm btn-primary">Tamamlanan Siparişleri Gizle</button><button style="margin-left:10px;" (click)="getOrders()" class="btn btn-sm btn-primary">Tüm Siparişleri Göster</button><br><br> -->
<h4>Sipariş Geçmişiniz</h4>
<div  style="text-align: center;">
  <div *ngIf="dataLoaded==false" class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <p *ngIf="loadingError"><i class="bi bi-exclamation-triangle" style="font-size:50px; vertical-align: middle;"></i> <b>Ürünler sunucudan getirilemedi</b></p>
  </div>
<div *ngFor="let pizzaOrder of pizzaOrders">
    <div *ngIf="pizzaOrders" class="siparisDiv">
    <p><b style="font-size: 20px;">Sipariş Bilgileri</b> <br>
    <b>Takip Kodu : </b> {{pizzaOrder.order.orderCode}} <br>
    <b>Sipariş verme tarihi :</b> {{pizzaOrder.order.date | date:"dd/MM/yyyy HH:mm"}} <br>
    <b>Toplam Ücret :</b> {{pizzaOrder.order.totalPrice}} <br> 
    <b *ngIf="statuses">Sipariş Durumu : </b> {{statusNames(pizzaOrder.order.statusId)}}<br> 
    <b>Ödeme Şekli : </b> {{paymentType(pizzaOrder.order.payWithCard)}}</p>
    <button type="button" class="showOrderDetails" data-bs-toggle="modal" attr.data-bs-target="#modal{{pizzaOrder.order.id}}">
      <i class="bi bi-grid"></i> Sipariş Detayını Görüntüle
      </button>
    <div class="modal fade" id="modal{{pizzaOrder.order.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sipariş Görüntüle</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div *ngFor="let helper of pizzaOrder.orderHelpers" style="display: inline;">
                <div *ngIf="pizzas[helper.productId]" class="card pizzaDiv">
                    <img class="card-img-top image" style="height:177px;" alt="..." src="{{pizzas[helper.productId].pictureLink}}">
                    <div class="card-body">
                      <h5 class="card-title">{{pizzas[helper.productId].pizzaName}}</h5>
                      <p class="card-text">Boyut : {{getSizeName(pizzas[helper.productId].sizeId)}} <br> Fiyat : {{pizzas[helper.productId].price}} ₺<!--<br>Açıklama : {{pizza.description}} --></p>
                      <button data-bs-dismiss="modal" routerLink="/addcomment/{{helper.productId}}" class="btn-success btn btn-sm"><i class="bi bi-chat-left-text"></i> Değerlendir</button>
                    </div>
                  </div>
            </div><br><br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Kapat</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
