<div class="paroladegistir">
    <div class="logo">
        <img width="150px" src="/assets/Logo.png">
    </div>
    <div class="form">
        <hr style="max-width: 500px; height: 1px; display: inline-block; width: 100%;"><br>
        <div class="mainForm">
            <div class="mb-3 formElemanlari">
                <label for="txtOldPassword" class="form-label">Eski Şifreniz</label>
                <input type="password" class="form-control" id="txtOldPassword" [(ngModel)]="txtOldPassword" placeholder="Eski Şifreniz">
              </div><br>
              <div class="mb-3 formElemanlari">
                <label for="txtNewPassword" class="form-label">Yeni Şifreniz</label>
                <input type="password" class="form-control" id="txtNewPassword" [(ngModel)]="txtNewPassword" placeholder="Yeni Şifreniz">
              </div><br>
              <div class="mb-3 formElemanlari">
                <label for="txtRePassword" class="form-label">Tekrar Yeni Şifreniz</label>
                <input type="password" class="form-control" id="txtRePassword" [(ngModel)]="txtRePassword" placeholder="Tekrar Yeni Şifreniz">
              </div><br>
              <div style="text-align: left; max-width: 400px; display: inline-block; width: 100%;"><button (click)="changePassword()" type="button" class="btn btn-success">Şifreyi değiştir</button></div>
        </div>   
    </div>
</div>
