<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<app-navi></app-navi>
<br>
<div class="container-md">
    
    <div class="row">
        <div class="col-md-2 hideMobile">
            <div style="position:sticky; top: 100px;">
                <app-size-filter></app-size-filter><br>
                <app-category-filter></app-category-filter><br>
            </div>

        </div>
        <div  class="col-md-10">
            <router-outlet></router-outlet>
        </div>

    </div>
</div>
<app-footer></app-footer>

