<div class="giris">
    <div class="logo">
        <img width="150px" src="/assets/Logo.png">
    </div>
    <div class="form">
        <hr style="max-width: 500px; height: 1px; display: inline-block; width: 100%;"><br>
        <div class="mainForm">
            <div class="mb-3 formElemanlari">
                <label for="sizeName" class="form-label" style="color:white;">Boyut Adı</label>
                <input type="text" class="form-control" id="sizeName" [(ngModel)]="txtSizeName" placeholder="Eklenecek pizza boyutu için ad giriniz">
              </div><br>
              <div style="text-align: left; max-width: 400px; display: inline-block; width: 100%;"><button (click)="addSize()" type="button" class="btn btn-success">Ekle</button></div>
        </div>   
    </div>
</div><br>
<p style="text-align: center;"><b><i class="bi bi-exclamation-triangle"></i> Bir boyutu silmek için o boyutta satılan tüm pizzaları silmelisiniz.</b></p>
<div style="text-align: center;">
<div style="max-width: 450px; width:100%; display: inline-block;">
<table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">Boyut Adı</th>
        <th scope="col">Bu Boyda Satılan Pizza Sayısı</th>
        <th scope="col">Sil</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let size of sizes">
        <td>{{size.sizeName}}</td>
        <td>{{findPizzaCountBySize(size.id)}}</td>
        <td><button (click)="deleteSize(size)" class="btn btn-danger">Sil</button></td>
      </tr>
    </tbody>
  </table>
</div>
</div>